<script>
import HeroComponent from "@/components/HeroComponent";
import InfoComponent from "@/components/InfoComponent";
import ListingComponent from "@/components/ListingComponent";
import CardsListComponent from "@/components/CardsListComponent";
import QuestionsComponent from "@/components/QuestionsComponent";
import NewsletterComponent from "@/components/NewsletterComponent";
import IllustrationComponent from "@/components/IllustrationComponent";
import HeroTextComponent from "@/components/HeroTextComponent";
export default {
  name: "HomePage",
  components: {
    HeroComponent,
    InfoComponent,
    ListingComponent,
    CardsListComponent,
    QuestionsComponent,
    NewsletterComponent,
    IllustrationComponent,
    HeroTextComponent,
  },

  setup() {
    const featuresInfo = {
      title: "Features",
      text: "Our aim is to make it quick and easy for you to access your favourite websites. Your bookmarks sync between your devices so you can access them on the go.",
    };

    const downloadText = {
      title: "Download the extension",
      text: "We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to prioritize.",
    };

    const questionsText = {
      title: "Frequently Asked Questions",
      text: "Here are some of our FAQs. If you have any other questions you’d like answered please feel free to email us.",
    };

    const heroTextElement = {
      title: "A Simple Bookmark Manager",
      text: "A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.",
      showTwoButton: true,
    };

    const secondaryHeroTextElement = {
      title: "Bookmark in one click",
      text: "Organize your bookmarks however you like. Our simple drag-and-drop interface gives you complete control over how you manage your favourite sites.",
      showOneButton: true,
    };

    return {
      featuresInfo,
      downloadText,
      questionsText,
      heroTextElement,
      secondaryHeroTextElement,
    };
  },
};
</script>

<template>
  <section class="flex flex-col mx-auto">
    <HeroComponent
      :hero-text="heroTextElement"
      class="mb-20 md:mx-auto lg:mb-40"
    />
    <InfoComponent :info="featuresInfo" class="mb-20 mx-5 md:mx-auto" />
    <ListingComponent class="mb-20 mx-5 ml:mx-auto" />
    <div
      class="flex flex-col lg:items-center lg:justify-center lg:flex-row lg:gap-x-16 lg:mb-64"
    >
      <IllustrationComponent class="mb-28 lg:mb-0" />
      <div class="mb-20 lg:mb-0 lg:flex lg:flex-col lg:justify-center">
        <HeroTextComponent :element="secondaryHeroTextElement" />
      </div>
    </div>
    <InfoComponent :info="downloadText" class="mb-20 mx-5 md:mx-auto" />
    <CardsListComponent class="mx-5 md:mx-auto" />
    <InfoComponent
      :info="questionsText"
      class="mb-20 mx-5 md:mx-auto mt-20 lg:mt-56"
    />
    <QuestionsComponent class="mx-5 mb-20 md:mx-auto" />
    <NewsletterComponent />
  </section>
</template>
