<script>
import { computed } from "vue";

export default {
  name: "ButtonComponent",
  props: {
    color: {
      type: String,
      required: true,
    },
    size: {
      type: String,
      required: true,
    },
    shadow: {
      type: String,
      required: true,
    },
  },

  setup(props) {
    const classes = computed(() => {
      const classes = [];

      switch (props.color) {
        case "purple":
          classes.push(
            "bg-violet-500 text-violet-100 hover:bg-white hover:outline hover:outline-2 hover:outline-violet-500 hover:text-violet-500"
          );
          break;
        case "gray":
          classes.push(
            "bg-gray-100 text-gray-500 hover:bg-white hover:outline hover:outline-2 hover:outline-gray-600 hover:text-gray-600"
          );
          break;
        case "red":
          classes.push(
            "bg-rose-500 text-rose-50 outline outline-2 outline-rose-500 hover:outline-rose-500 hover:bg-white hover:text-rose-500"
          );
          break;
        case "transparent":
          classes.push("bg-transparent text-white border-2 border-white");
          break;
      }

      switch (props.shadow) {
        case "has":
          classes.push("shadow-lg shadow-gray-300");
          break;
        case "none":
          classes.push("shadow-none");
          break;
      }

      switch (props.size) {
        case "sm":
          classes.push("px-5 py-2 lg:py-4 lg:px-8");
          break;
        case "lg":
          classes.push("w-full p-5 ");
          break;
      }

      return classes;
    });

    return {
      classes,
    };
  },
};
</script>

<template>
  <button
    :class="classes"
    class="font-bold rounded-md transition-all ease-in-out"
  >
    <slot />
  </button>
</template>
