<script>
import CardComponent from "@/components/CardComponent";
export default {
  name: "CardsListComponent",
  components: {
    CardComponent,
  },

  setup() {
    const list = [
      {
        id: 1,
        imgSrc: require("@/assets/images/logo-chrome.svg"),
        imgAlt: "Chrome icon",
        title: "Add to Chrome",
        text: "Minimum version 62",
      },
      {
        id: 2,
        imgSrc: require("@/assets/images/logo-firefox.svg"),
        imgAlt: "Firefox icon",
        title: "Add to Firefox",
        text: "Minimum version 55",
      },
      {
        id: 3,
        imgSrc: require("@/assets/images/logo-opera.svg"),
        imgAlt: "Opera icon",
        title: "Add to Opera",
        text: "Minimum version 46",
      },
    ];

    return {
      list,
    };
  },
};
</script>

<template>
  <div class="lg:flex lg:flex-row lg:gap-x-12">
    <CardComponent
      v-for="item in list"
      :key="item.id"
      :item="item"
      class="lg:even:transform lg:even:translate-y-12 lg:last-of-type:translate-y-24"
    />
  </div>
</template>
