<template>
  <div
    class="flex flex-col items-center shadow-gray-200 shadow-lg py-6 rounded-md"
  >
    <img :src="item.imgSrc" :alt="item.Alt" class="mb-8" />
    <h3 class="text-xl font-bold mb-3">{{ item.title }}</h3>
    <p class="text-gray-400 mb-5">{{ item.text }}</p>
    <img src="@/assets/images/bg-dots.svg" alt="Dots image" class="mb-5" />
    <div>
      <ButtonComponent shadow="has" color="purple" size="lg"
        >Add & Install Extension</ButtonComponent
      >
    </div>
  </div>
</template>

<script>
import ButtonComponent from "@/components/ButtonComponent";
export default {
  name: "CardComponent",
  components: { ButtonComponent },

  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>
