<template>
  <div class="flex flex-row items-center">
    <ul class="flex flex-row gap-x-14 mr-14 uppercase text-gray-500">
      <li class="cursor-pointer transition ease-in-out hover:text-rose-500">
        Features
      </li>
      <li class="cursor-pointer transition ease-in-out hover:text-rose-500">
        Pricing
      </li>
      <li class="cursor-pointer transition ease-in-out hover:text-rose-500">
        Contact
      </li>
    </ul>
    <ButtonComponent size="lg" color="red" shadow="none">LOGIN</ButtonComponent>
  </div>
</template>

<script>
import ButtonComponent from "@/components/ButtonComponent";
export default {
  name: "DesktopMenuComponent",
  components: { ButtonComponent },
};
</script>
