<template>
  <footer class="bg-blue text-violet-50 py-5 lg:py-10">
    <div
      class="flex flex-col justify-center items-center lg:items-start max-w-screen-xl mx-auto lg:flex-row"
    >
      <img
        src="@/assets/images/logo-bookmark-white.svg"
        alt="Bookmark logo"
        class="mb-5 lg:mb-0 lg:mr-10"
      />
      <ul
        class="flex flex-col lg:flex-row gap-y-4 lg:gap-y-0 lg:gap-x-10 text-lg text-center uppercase mb-5 lg:mb-0 lg:mr-auto"
      >
        <li class="cursor-pointer transition ease-in-out hover:text-rose-500">
          Features
        </li>
        <li class="cursor-pointer transition ease-in-out hover:text-rose-500">
          Pricing
        </li>
        <li class="cursor-pointer transition ease-in-out hover:text-rose-500">
          Contact
        </li>
      </ul>
      <div class="flex flex-row gap-x-8">
        <img
          class="cursor-pointer"
          src="@/assets/images/icon-facebook.svg"
          alt="Facebook icon"
        />
        <img
          class="cursor-pointer"
          src="@/assets/images/icon-twitter.svg"
          alt="Twitter icon"
        />
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "FooterComponent",
};
</script>

<style>
.bg-blue {
  background-color: hsl(229, 31%, 21%);
}
</style>
