<script>
import { computed } from "vue";
export default {
  name: "HeadlineComponent",
  props: {
    textSize: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      required: true,
    },
    textPosition: {
      type: String,
      required: true,
    },
  },

  setup(props) {
    const classes = computed(() => {
      const classes = [];

      switch (props.textSize) {
        case "lg":
          classes.push("text-3xl lg:text-4xl");
          break;
        case "sm":
          classes.push("text-xl lg:text-2xl");
      }

      switch (props.color) {
        case "black":
          classes.push("text-black");
          break;
        case "white":
          classes.push("text-violet-50");
          break;
      }

      switch (props.textPosition) {
        case "center":
          classes.push("text-center");
          break;
        case "from center to left":
          classes.push("text-center lg:text-left");
      }

      return classes;
    });

    return {
      classes,
    };
  },
};
</script>

<template>
  <h3 :class="classes" class="lg:font-bold">
    <slot />
  </h3>
</template>
