<script>
import HeroTextComponent from "@/components/HeroTextComponent";
export default {
  name: "HeroComponent",
  components: { HeroTextComponent },
  props: {
    heroText: {
      type: Object,
      required: true,
    },
  },
};
</script>

<template>
  <div
    class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-center lg:gap-x-14"
  >
    <div class="relative -z-10">
      <img
        src="@/assets/images/illustration-hero.svg"
        alt="Hero illustration"
      />
      <div
        class="absolute bottom-0 right-0 lg:left-1/2 -z-20 bg-violet-600 w-64 lg:w-full h-52 lg:h-80 rounded-bl-full rounded-tl-full"
      >
        <br />
      </div>
    </div>
    <HeroTextComponent :element="heroText" />
  </div>
</template>
