<template>
  <div class="max-w-xl">
    <HeadlineComponent
      text-position="from center to left"
      color="black"
      text-size="lg"
      class="mt-10 mb-5 lg:mb-10 lg:font-bold"
      >{{ element.title }}</HeadlineComponent
    >
    <TextComponent
      color="gray"
      text-position="from center to left"
      class="mb-5 mx-5 lg:mx-0 lg:mb-10"
      >{{ element.text }}</TextComponent
    >
    <div
      v-if="element.showTwoButton"
      class="flex flex-row items-center justify-center gap-x-2 lg:justify-start lg:gap-x-6"
    >
      <ButtonComponent shadow="has" color="purple" size="sm"
        >Get it on Chrome</ButtonComponent
      >
      <ButtonComponent shadow="has" color="gray" size="sm"
        >Get it on Firefox</ButtonComponent
      >
    </div>
    <div v-if="element.showOneButton" class="flex">
      <ButtonComponent
        color="purple"
        size="sm"
        shadow="has"
        class="mx-auto lg:mx-0 lg:mr-auto"
        >More Info</ButtonComponent
      >
    </div>
  </div>
</template>

<script>
import HeadlineComponent from "@/components/HeadlineComponent";
import TextComponent from "@/components/TextComponent";
import ButtonComponent from "@/components/ButtonComponent";

export default {
  name: "HeroTextComponent",
  components: {
    HeadlineComponent,
    TextComponent,
    ButtonComponent,
  },
  props: {
    element: {
      type: Object,
      required: true,
    },
  },
};
</script>
