<template>
  <div class="relative z-20">
    <img
      src="@/assets/images/illustration-features-tab-1.svg"
      alt="Illustration"
      class="w-11/12 mx-auto"
    />
    <div
      class="absolute -bottom-14 left-0 lg:transform lg:-translate-x-3/4 -z-10 bg-violet-600 w-64 figure h-52 lg:h-80 rounded-br-full rounded-tr-full"
    >
      <br />
    </div>
  </div>
</template>

<script>
export default {
  name: "IllustrationComponent",
};
</script>

<style>
@media (min-width: 1024px) {
  .figure {
    width: 1000px;
  }
}
</style>
