<script>
import HeadlineComponent from "@/components/HeadlineComponent";
import TextComponent from "@/components/TextComponent";
export default {
  name: "InfoComponent",
  components: { HeadlineComponent, TextComponent },
  props: {
    info: {
      type: Object,
      required: true,
    },
  },
};
</script>
<template>
  <div class="max-w-xl">
    <HeadlineComponent
      text-position="center"
      color="black"
      text-size="sm"
      class="mb-5"
    >
      {{ info.title }}</HeadlineComponent
    >
    <TextComponent text-position="center" color="gray">{{
      info.text
    }}</TextComponent>
  </div>
</template>
