<template>
  <li
    :class="classes"
    class="relative border-t-2 lg:border-t-0 border-gray-300 py-5 lg:px-10 text-center text-gray-500 font-bold"
  >
    {{ item.text }}
  </li>
</template>

<script>
import { computed } from "vue";

export default {
  name: "ListingItemComponent",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },

  setup(props) {
    const classes = computed(() => {
      const classes = [];

      switch (props.item.focus) {
        case true:
          classes.push(
            "after:content-[''] after:block after:w-24 lg:after:w-full after:h-1 after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-red-500"
          );
      }
      return classes;
    });

    return {
      classes,
    };
  },
};
</script>
