<template>
  <ul
    class="flex flex-col lg:flex-row border-b-2 border-gray-300 lg:gap-x-6 lg:mx-auto"
  >
    <ListingItemComponent v-for="item in list" :key="item.id" :item="item" />
  </ul>
</template>

<script>
import ListingItemComponent from "@/components/ListingItemComponent";
export default {
  name: "ListingComponent",
  components: { ListingItemComponent },

  setup() {
    const list = [
      {
        id: 1,
        text: "Simple Bookmarking",
        focus: true,
      },
      {
        id: 2,
        text: "Speedy Searching",
        focus: false,
      },
      {
        id: 3,
        text: "Easy Sharing",
        focus: false,
      },
    ];

    return {
      list,
    };
  },
};
</script>
