<template>
  <section class="bg-dark px-5 py-8 h-screen w-full bg-opacity-60">
    <div class="flex flex-row items-center mb-10">
      <img
        src="@/assets/images/logo-bookmark-whole-white.svg"
        alt="Bookmark logo"
      />
      <button @click="$emit('hide-menu')" class="ml-auto">
        <img src="@/assets/images/icon-close.svg" alt="Cross icon" />
      </button>
    </div>
    <ul
      class="flex flex-col text-center uppercase tracking-wider text-lg text-white mb-10"
    >
      <li class="border-t-2 border-white border-opacity-20 py-6">Features</li>
      <li class="border-t-2 border-b-2 border-white border-opacity-20 py-6">
        Pricing
      </li>
      <li class="border-b-2 border-white border-opacity-20 py-6">Contact</li>
    </ul>
    <ButtonComponent shadow="none" size="lg" color="transparent"
      >LOGIN</ButtonComponent
    >
    <div
      class="flex flex-row items-center justify-center gap-x-10 fixed bottom-0 w-full mb-10"
    >
      <img
        src="@/assets/images/icon-facebook.svg"
        alt="Facebook icon"
        class="cursor-pointer"
      />
      <img
        src="@/assets/images/icon-twitter.svg"
        alt="Twitter icon"
        class="cursor-pointer"
      />
    </div>
  </section>
</template>

<script>
import ButtonComponent from "@/components/ButtonComponent";
export default {
  name: "MenuMobileComponent",
  components: { ButtonComponent },
  emits: ["hide-menu"],
};
</script>

<style>
.bg-dark {
  background-color: hsla(229, 31%, 21%, 95%);
}
</style>
