<script>
import DesktopMenuComponent from "@/components/DesktopMenuComponent";
import MenuMobileComponent from "@/components/MenuMobileComponent";
import { ref } from "vue";
export default {
  name: "NavigationComponent",
  components: { MenuMobileComponent, DesktopMenuComponent },

  setup() {
    const displayMenu = ref(false);

    const openMenu = () => {
      displayMenu.value = true;
    };

    const hideMenu = () => {
      displayMenu.value = false;
    };
    return {
      displayMenu,
      openMenu,
      hideMenu,
    };
  },
};
</script>

<template>
  <nav
    class="relative -z-0 lg:flex lg:flex-row lg:items-center lg:mx-auto lg:py-14 lg:justify-center lg:max-w-screen-xl"
  >
    <div class="flex flex row items-center p-5 lg:p-0">
      <img src="@/assets/images/logo-bookmark.svg" alt="Bookmark logo" />
      <button @click="openMenu" class="ml-auto">
        <img
          src="@/assets/images/icon-hamburger.svg"
          alt="Menu icon"
          class="cursor-pointer lg:hidden"
        />
      </button>
    </div>
    <MenuMobileComponent
      v-if="displayMenu"
      @hide-menu="hideMenu"
      class="absolute top-0 z-50 lg:hidden"
    />
    <DesktopMenuComponent class="hidden lg:flex lg:ml-auto" />
  </nav>
</template>
