<script>
import TextComponent from "@/components/TextComponent";
import HeadlineComponent from "@/components/HeadlineComponent";
import ButtonComponent from "@/components/ButtonComponent";
import { ref, computed } from "vue";
export default {
  name: "NewsletterComponent",
  components: { TextComponent, HeadlineComponent, ButtonComponent },

  setup() {
    const inputValue = ref("");
    // const error = ref(false);
    const validation = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;

    const isItEmail = computed(() => {
      return inputValue.value.match(validation) || inputValue.value === "";
    });

    return {
      inputValue,
      isItEmail,
    };
  },
};
</script>

<template>
  <div class="bg-violet-600 p-5 lg:p-20">
    <div
      class="flex flex-col justify-center items-center md:max-w-lg lg:max-w-2xl mx-auto"
    >
      <TextComponent
        color="white"
        text-position="center"
        class="uppercase text-sm mb-5 tracking-wide"
        >35,000+ already joined</TextComponent
      >
      <HeadlineComponent
        color="white"
        text-position="center"
        text-size="sm"
        class="font-bold mb-5"
        >Stay up-to-date with what we’re doing</HeadlineComponent
      >
      <div class="lg:flex lg:flex-row lg:items-start lg:gap-x-12">
        <div>
          <input
            v-model="inputValue"
            type="text"
            class="w-full lg:w-80 p-5 rounded-md outline-none placeholder:text-gray-400 lg:mb-0 text-gray-400 border-4"
            :class="[
              !isItEmail
                ? 'rounded-tr-md rounded-tl-md rounded-b-none border-rose-500 mb-0'
                : 'border-transparent',
            ]"
            placeholder="Enter your e-mail address..."
          />
          <div
            v-if="!isItEmail"
            class="bg-rose-500 w-full py-2 pl-4 text-rose-50 rounded-b-md mb-5"
          >
            Whoops, make sure it's a email
          </div>
        </div>
        <div class="mt-5 lg:mt-0">
          <ButtonComponent
            shadow="none"
            size="lg"
            color="red"
            class="mb-10 lg:mb-0"
            >Contact Us</ButtonComponent
          >
        </div>
      </div>
    </div>
  </div>
</template>
