<script>
import { ref } from "vue";
export default {
  name: "QuestionItemComponent",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },

  setup() {
    const click = ref(false);
    const borderBottom = ref(false);

    const buttonClick = () => {
      click.value = !click.value;
      borderBottom.value = true;
    };

    return {
      click,
      borderBottom,
      buttonClick,
    };
  },
};
</script>

<template>
  <li
    :class="[borderBottom === true ? 'border-b-2' : 'border-b-0']"
    class="flex flex-row items-center py-5 first-of-type:border-t-0 last-of-type:border-b-2 border-t-2 border-gray-300"
  >
    {{ item.question }}
    <button @click="buttonClick" class="ml-auto">
      <img
        src="@/assets/images/icon-arrow.svg"
        alt="Arrow icon"
        :class="[click === true ? 'hidden' : 'block']"
      />
      <img
        v-if="click"
        src="@/assets/images/icon-arrow-red.svg"
        alt="Arrow icon"
        class="block transform rotate-180"
      />
    </button>
  </li>
  <div v-if="click" class="py-6 text-gray-500 leading-loose">
    {{ item.answer }}
  </div>
</template>
