<script>
import QuestionItemComponent from "@/components/QuestionItemComponent";
import ButtonComponent from "@/components/ButtonComponent";
export default {
  name: "QuestionsComponent",
  components: { QuestionItemComponent, ButtonComponent },

  setup() {
    const list = [
      {
        id: 1,
        question: "What is Bookmark?",
        answer:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.",
        border: true,
      },
      {
        id: 2,
        question: "How can I request a new browser?",
        answer:
          " Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.",
        border: true,
      },
      {
        id: 3,
        question: "Is there a mobile app?",
        answer:
          " Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut condimentum urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed sollicitudin ex et ultricies bibendum.",
        border: true,
      },
      {
        id: 4,
        question: "What about other Chromium browsers?",
        answer:
          "Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui. Aliquam vitae neque eget nisl gravida pellentesque non ut velit.",
        border: true,
      },
    ];

    return {
      list,
    };
  },
};
</script>

<template>
  <div class="md:w-1/2 lg:max-w-xl">
    <ul class="mb-10">
      <QuestionItemComponent v-for="item in list" :key="item.id" :item="item" />
    </ul>
    <ButtonComponent shadow="has" size="sm" color="purple" class="flex mx-auto"
      >More info</ButtonComponent
    >
  </div>
</template>
