<script>
import { computed } from "vue";

export default {
  name: "TextComponent",
  props: {
    color: {
      type: String,
      required: true,
    },

    textPosition: {
      type: String,
      required: true,
    },
  },

  setup(props) {
    const classes = computed(() => {
      const classes = [];

      switch (props.color) {
        case "gray":
          classes.push("text-gray-400");
          break;
        case "white":
          classes.push("text-violet-50");
          break;
      }

      switch (props.textPosition) {
        case "center":
          classes.push("text-center");
          break;
        case "from center to left":
          classes.push("text-center lg:text-left");
          break;
      }

      return classes;
    });

    return {
      classes,
    };
  },
};
</script>

<template>
  <p :class="classes" class="leading-loose lg:text-lg">
    <slot />
  </p>
</template>
