<script>
import NavigationComponent from "@/components/NavigationComponent";
import FooterComponent from "@/components/FooterComponent";
export default {
  components: { NavigationComponent, FooterComponent },
};
</script>

<template>
  <main>
    <NavigationComponent class="mb-20" />
    <router-view />
    <FooterComponent />
  </main>
</template>
